test.txt
[{"id":"a26c11c5.cbe52","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e9a98497.e1db08","type":"function","z":"a26c11c5.cbe52","name":"change rgb","func":"var i = flow.get(\"i\");\nvar rouge   = Math.round(Math.sin(0.3*i + 0) * 127 + 128);\nvar verde = Math.round(Math.sin(0.3*i + 2) * 127 + 128);\nvar bleu  = Math.round(Math.sin(0.3*i + 4) * 127 + 128);\n\ni++;\nif (i>=32) {\n    i = 0;\n}\n\nflow.set(\"i\", i);\n\nmsg.payload = [rouge,verde,bleu]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":140,"wires":[["6abd1126.bfc0a","9b8248bd30519ed8"]]},{"id":"f5d858fb.039f88","type":"function","z":"a26c11c5.cbe52","name":"set var","func":"flow.set(\"i\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":140,"wires":[["e9a98497.e1db08"]]},{"id":"6abd1126.bfc0a","type":"delay","z":"a26c11c5.cbe52","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":500,"y":300,"wires":[["e9a98497.e1db08"]]},{"id":"9b8248bd30519ed8","type":"debug","z":"a26c11c5.cbe52","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":140,"wires":[]},{"id":"7a139ce82e5b1ef0","type":"inject","z":"a26c11c5.cbe52","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":140,"wires":[["f5d858fb.039f88"]]}]